.benefits {
  background-color: white;
  display: flex;
  padding: 96px 0;
}

.benefits-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 72px;
  padding-left: 0;
}
.benefits-list-item {
  flex-basis: calc((100% - 216px) / 4);
}
.benefit-icon {
  display: none;
}
.benefits-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.benefits-description {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .benefits-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .benefits-heading {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .benefits {
    align-items: center;
    padding: 120px 0;
  }

  .benefits-list {
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
  }
  .benefits-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .benefit-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }
  .benefits-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .benefits-description {
    font-weight: 400;
  }
}
